.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout-sider {
  box-shadow: 0px 0px 10px 5px #eaeaea;
}

.layout-header {
  z-index: 999;
}

.rect-green {
  height: 38px;
  width: 80px;
  background-color: #c7e1cb;
  border: 1px solid #99be9f;
  /* writing-mode: vertical-rl; */
  color: #22602a;
  cursor: pointer;
  font-size: 12px;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 9px 0px;
}

.rect-green:hover {
  color: #fff;
  background-color: #539d5e;
}

.rect-blue {
  height: 38px;
  width: 80px;
  background-color: #b2cdff;
  border: 1px solid #93b9fe;
  /* writing-mode: vertical-rl; */
  color: #0a4abe;
  cursor: pointer;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 9px 0px;
}

.rect-blue:hover {
  color: #fff;
  background-color: #3f63a6;
}

.rect-purple {
  height: 38px;
  width: 80px;
  background-color: #d7d4ff;
  border: 1px solid #a6a0ff;
  /* writing-mode: vertical-rl; */
  color: #3c34a9;
  cursor: pointer;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 9px 0px;
}

.rect-purple:hover {  
  color: #fff;
  background-color: #5c4c9c;
}

.rect-field {
  height: 38px;
  width: 80px;
  background-color: #bcb7fc;
  border: 1px solid #a6a0ff;
  /* writing-mode: vertical-rl; */
  color: #3c34a9;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
